<div class="hero-card">
  <div class="field">{{ hero.id }}</div>
  <div class="field">{{ hero.name }}</div>
  <div class="field">{{ hero.origin }}</div>
  <div class="field options-btns" *ngIf="editable">
    <button
      mat-mini-fab
      color="primary"
      aria-label="Edit button"
      (click)="clickEdit(hero)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="warn"
      aria-label="Delete button"
      (click)="clickDelete(hero.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
