.hero-table {
  height: 500px;
  .header {
    background-color: #3f51b5;
    color: white;
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    .field {
      flex: 1;
    }
  }

  .hero-card {
    background-color: white;
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    .field {
      flex: 1;
      &.options-btns {
        display: flex;
        justify-content: flex-end;
        button {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

pagination-controls {
  &::ng-deep {
    .ngx-pagination {
      text-align: center;
      .current {
        background-color: #3f51b5;
      }
    }
  }
}
