<div class="hero-table">
  <div class="header">
    <div class="field">ID</div>
    <div class="field">Name</div>
    <div class="field">Origin</div>
    <div class="field options-btns"></div>
  </div>

  <div
    *ngFor="
      let hero of dataSource | paginate: { itemsPerPage: 5, currentPage: page }
    "
  >
    <app-hero-card
      [hero]="hero"
      (editHero)="editHero($event)"
      (deleteHero)="deleteHero($event)"
    ></app-hero-card>
  </div>
</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>
